Задание

- Научиться работать с документацией scikit-learn
- Научиться готовить данные к обучению модели и к ее валидации
- Научиться оценивать качество модели и выбирать лучшую модель, опираясь на метрики

Задача:

- Построить модель машинного обучения для решения задачи регрессии: необходимо спрогнозировать прогресс заболевания диабетом через год после исходного уровня.

План решения:

В документации библиотеки scikit learn найдите, как загрузить датасет для построения модели прогноза прогрессирования заболевания через год после исходного уровня (load_diabetes из sklearn.datasets).

In [1]:
import pandas as pd
from sklearn.datasets import load_diabetes
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

1. Выводим содержимое поля DESCR, которое вернет функция, загружающая датасет, чтобы изучить содержимое датасета.

In [2]:
df = load_diabetes(as_frame=True)
print(df.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

2. Подготовьте данные к обучению моделей: отделите целевой признак от датасета, разделите датасет на тренировочную и валидационную части.

In [3]:
features = df.data
display(features.sample(5))
display(features.info())
target = df.target
display(target.sample())
display(target.info())

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
67,0.041708,0.050680,-0.014828,-0.017135,-0.005697,0.008394,-0.013948,-0.001854,-0.011897,0.003064
252,0.005383,-0.044642,0.059541,-0.056177,0.024574,0.052861,-0.043401,0.050914,-0.004222,-0.030072
405,0.048974,0.050680,0.123131,0.083844,-0.104765,-0.100895,-0.069172,-0.002592,0.036644,-0.030072
414,0.081666,0.050680,0.006728,-0.004534,0.109883,0.117056,-0.032356,0.091875,0.054720,0.007207
68,0.038076,0.050680,-0.029918,-0.040099,-0.033216,-0.024174,-0.010266,-0.002592,-0.012909,0.003064

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     442 non-null    float64
 1   sex     442 non-null    float64
 2   bmi     442 non-null    float64
 3   bp      442 non-null    float64
 4   s1      442 non-null    float64
 5   s2      442 non-null    float64
 6   s3      442 non-null    float64
 7   s4      442 non-null    float64
 8   s5      442 non-null    float64
 9   s6      442 non-null    float64
dtypes: float64(10)
memory usage: 34.7 KB

None

103    198.0
Name: target, dtype: float64

<class 'pandas.core.series.Series'>
RangeIndex: 442 entries, 0 to 441
Series name: target
Non-Null Count  Dtype
--------------  -----
442 non-null    float64
dtypes: float64(1)
memory usage: 3.6 KB

None

In [4]:
features_train, features_val, target_train, target_val = train_test_split(features, target, test_size=0.3, random_state=45)

3. Обучите решающее дерево и оцените адекватность обученной модели. Для этого достаточно сравнить метрики качества с метриками, получаемыми от простой модели. Например, если бы мы подавали на вход среднее значение целевой переменной на обучающей части выборки.

- Модель решающего дерева

In [5]:
model = DecisionTreeRegressor()
model.fit(features_train, target_train)
print(model)

DecisionTreeRegressor()

In [6]:
target_pred = model.predict(features_val)

In [7]:
mean_squared_error(target_val, target_pred)

6276.8421052631575

In [8]:
mean_absolute_error(target_val, target_pred)

60.8421052631579

- Простая модель, предсказывающей среднее значение

In [9]:
target_mean_pred = pd.Series([float(target_train.mean()) for i in target_val.index])
print(target_mean_pred)

0      150.909385
1      150.909385
2      150.909385
3      150.909385
4      150.909385
          ...
128    150.909385
129    150.909385
130    150.909385
131    150.909385
132    150.909385
Length: 133, dtype: float64

In [10]:
mean_squared_error(target_val, target_mean_pred)

5350.345583615304

In [11]:
mean_absolute_error(target_val, target_mean_pred)

62.258388690172026

- MSE модели решающего дерева больше, то это означает, что простая модель, предсказывающая среднее значение, работает лучше

- Сравнивая MAE, полученные в этих двух пунктах, можно определить, что обученная модель решающего дерева немного превосходит простую модель, предсказывающую среднее значение.

4. Обучите линейную регрессию и оцените ее адекватность.

In [12]:
liner_model = LinearRegression()
liner_model.fit(features_train, target_train)

print(liner_model)

LinearRegression()

In [13]:
target_liner_pred = liner_model.predict(features_val)

In [14]:
mean_squared_error(target_val, target_liner_pred)

2492.634642734651

In [15]:
mean_absolute_error(target_val, target_liner_pred)

40.64760150172551

5. Выберите лучшую модель и обоснуйте свой выбор.

In [16]:
data = {
    "tree_model": [
        mean_squared_error(target_val, target_pred),
        mean_absolute_error(target_val, target_pred),
        r2_score(target_val, target_pred),
    ],
    "simple_model": [
        mean_squared_error(target_val, target_mean_pred),
        mean_absolute_error(target_val, target_mean_pred),
        r2_score(target_val, target_mean_pred),
    ],
    "liner_reg_model": [
        mean_squared_error(target_val, target_liner_pred),
        mean_absolute_error(target_val, target_liner_pred),
        r2_score(target_val, target_liner_pred),
    ],
}

labels = [
    "Средняя квадратичная ошибка",
    "Среднее абсолютное отклонение",
    "Коэффициент детерминации"
]

df_metrics = pd.DataFrame (data, index=labels)
df_metrics

                                tree_model  simple_model  liner_reg_model
Средняя квадратичная ошибка    6276.842105   5350.345584      2492.634643
Среднее абсолютное отклонение    60.842105     62.258389        40.647602
Коэффициент детерминации         -0.176806     -0.003103         0.532672

In [17]:
print("Лучшие результаты:")

# MSE
mse_values = df_metrics.loc["Средняя квадратичная ошибка"]
best_mse_model = mse_values.idxmin()
best_mse_value = mse_values.min()
print(f"MSE: {best_mse_model} - {best_mse_value:.3f}")

# MAE 
mae_values = df_metrics.loc["Среднее абсолютное отклонение"]
best_mae_model = mae_values.idxmin()
best_mae_value = mae_values.min()
print(f"MAE: {best_mae_model} - {best_mae_value:.3f}")

# R2
r2_values = df_metrics.loc["Коэффициент детерминации"]
best_r2_model = r2_values.idxmax()
best_r2_value = r2_values.max()
print(f"R2: {best_r2_model} - {best_r2_value:.3f}")

Лучшие результаты:
MSE: liner_reg_model - 2492.635
MAE: liner_reg_model - 40.648
R2: liner_reg_model - 0.533